/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--belle-color: rgb(204, 205, 0);
	--background-color: #f3f4f6;
	--belle-dark: #171717;
	--hover: rgba(0, 0, 0, 0.2);
}

body {
	position: relative;
	min-height: auto;
	background-color: var(--belle-color);
	color: #374151;
}

h1 {
	font-size: xx-large;
	font-weight: bolder;
	text-wrap: wrap;
}

header {
	position: sticky;
	background-color: #374151;
	top: 10px;
	border-radius: 0.5rem;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

main {
	position: relative;
	background-color: var(--background-color);
	margin: 10px;
	border-radius: 0.5rem;
	padding: 5px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

input {
	padding: 5px;
}

.header-flex,
.flex {
	display: flex;
	flex-direction: row;
}

.header-flex {
	gap: 10px;
}

.icon {
	height: 35px;
}

.banner {
	margin: 15px;
	position: relative;
	height: 10vh;
	display: flex;
	left: 50%;
	transform: translate(-50%);
}

.line {
	border-top: 1px solid black;
	position: relative;
	margin: 5px;
}

.data {
	font-weight: bold;
}

.btn {
	position: relative;
	background-color: var(--background-color);
	border-radius: 0.5rem;
	padding: 5px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
	width: 25%;
}

.tab {
	border-bottom: 1px solid black;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.warning {
	background-color: rgba(255, 50, 50);
	color: var(--background-color);
}

.ok {
	background-color: var(--belle-color);
	color: black;
	width: 100%;
}

.component {
	margin: 5px;
	padding: 20px;
	border-top: 4px solid rgb(204, 205, 0);
	border-radius: 0.5rem;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.tile {
	border-radius: 0.5rem;
	padding: 15px;
	margin: 5px;
	width: 13vw;
	height: 13vh;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.tab:hover,
.selected,
.tile:hover {
	background-color: var(--hover);
}

.checked {
	background-color: rgb(204, 205, 0);
}

.checkbox {
	padding: 2px;
}

.checkbox:hover {
	background-color: rgba(0, 255, 0, 0.3);
	cursor: pointer;
}

.checked:hover {
	background-color: rgba(255, 0, 0, 0.3);
	cursor: pointer;
}

table {
	table-layout: fixed;
	width: 85vw;
}

th {
	text-align: left;
}

.background {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#belleaqua {
	background-image: url('/logos/belleaqua.png');
}

#aquafin {
	background-image: url('/logos/aquafin.png');
}

#hydrotechnic {
	background-image: url('/logos/hydrotechnic.png');
}

#pidpa {
	background-image: url('/logos/pidpa.png');
}

#aclima {
	background-image: url('/logos/aclima.png');
}

#dock {
	position: fixed;
	display: flex;
	justify-self: center;
	justify-content: center;
	background-color: #374151;
	bottom: 0;
	border-radius: 0.5rem;
	padding: 10px;
	z-index: 1;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
	.flex {
		flex-direction: column;
	}

	.btn {
		width: 100%;
	}

	.tile {
		width: auto;
	}

	.none {
		display: none;
	}
}
