/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: aqua;
	padding: 15px;
}

body {
	background-color: grey;
}

main {
	position: absolute;
	top: 7vh;
}

form {
	display: flex;
	flex-direction: column;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flex-dir {
	display: flex;
	flex-direction: row;
}

.dark {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}

@media only screen and (max-width: 768px) {
}
